<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vinyl  is Plural for Vinyl</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="../public/css/style.css" rel="stylesheet">

</head>

<body>
  <div>
    <header class="header">
      <div class="container">
      <h1 class="title">
        <a id="logo" href="/">

          <img src="../../public/images/vinyl-logo.png"  alt="App Logo">

        </a>
      </h1>
      <nav class="navbar" >
        <a href="/" class="navBtn">Home</a>
        {{!-- <a href="/user-profile" class="navBtn">Favorites</a> --}}
        {{!-- Render login/logout through condition --}}
        {{#if loggedIn}}
        <a href="/album-listing" class="navBtn">Buy/Search</a>
        <a href="/selling" class="navBtn">Sell</a>
        <a href="/user-profile"  id="account" class="navBtn">Account</a>
        <button id="logout" class="navBtn">Logout</a>
        {{/if}}
      </nav>
    </div>
    </header>
    <main >
      <!-- Render the sub layout -->

      {{{ body }}}
      <!-- Render the sub layout -->
    </main>
    <footer>
      
    </footer>
  </div>

  <!--Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
