<div class="pageContainer">
  <!--Website Description Begin-->
  <div class="container3 justify-content-center card">
    <h2>Create a Account</h2>
    <form class="form signup-form">
      <div class="dataForm">
        <label for="username-signup">Username</label>
        <input type="text" class="form-control" placeholder="John Doe" id="username-signup">

        <label for="email-signup">Email Address</label>
        <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">

        <label for="exampleFormControlInput1">Password</label>
        <input type="password" class="form-control" id="password-signup">
      
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="/"><button class="btn btn-primary" type="submit">Cancel</button></a>
      </div>
      <div class="float">
        <p></p>
      </div>
    </form>
    <div>

    </div>
  </div>

  <!--Website Description Ends-->
</div>

<script src="./js/login.js"></script>