<div class="pageContainer">
        <!--Website Description Begin-->
        <div class="container3 justify-content-center card">
            <h2>Create a Account</h2>
            <form class="form ">
              <div class="dataForm">
                <label for="exampleFormControlInput1">Users Name</label>
                <input type="email" class="form-control" placeholder="Username" id="username-signup">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                <label for="exampleFormControlInput1">Password</label>
                  <input type="email" class="form-control" placeholder="Password" id="password-signup">
                  <input type="email" class="form-control" placeholder="Password" >
                <button class="btn btn-primary"  type="submit" id="signup-form">Save</button>
                <button class="btn btn-primary" type="submit">Cancel</button>
              </div>
              <div class="float">
                <p></p>
              </div>
            </form>
            <div>
              
            </div>
          </div>
         
        <!--Website Description Ends-->
      </div>
      
      <script src="./js/login.js"></script>