<div>

<!--Search for Record Begin-->
  <div>
    <div class="row">
      <div class="col-auto">
        <h2>Welcome, {{user_name}}!</h2>
      </div>
    </div>

    <div class="row">
      <div>
        <input id="search-form" placeholder="Search for Record"></input>
        <button>Search</button>
      </div>
    </div>
  </div>
  <!--Search for Record End-->

  <!--Create New Listing Begin-->
  <div>
    <div class="">
      <h3>Create New Listing:</h3>
      <form class="form">
        <div class="form-price">
          <input type="text" placeholder="User Input Price" />
        </div>
        <div class="form-condition">
          <input type="checkbox" placeholder="User Condition"/>
        </div>
        <div class="form-year">
          <input type="text" placeholder="User Year"/>
        </div>
        <div class="form-description">
          <textarea placeholder="Description"></textarea>
        </div>
        <div class="form-listing">
          <button type="submit" >Preview Listing</button>
        </div>
      </form>
    </div>
  <!--Create New Listing End-->
  <!-- Posting Listing Begin-->
    <div>
      <div>
        <div>
          <img src="https://via.placeholder.com/100">
        </div>
        <div>
          <div>
            <p>Label: {{}} </p>
            <p>Catalog: </p>
            <p>Year: </p>
            <p>Condition: </p>
            <p>Item Description from Seller: </p>
            <p>Seller: {{user_name}}</p>
            <!--<p>Location: </p>-->
          </div>
          <div>
            <button>Post Listing</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Posting Listing End-->
</div>

<script src="./js/profile.js"></script>
