<div class="pageContainer">
  <div class="float container2 card">
    <!--Website Description Begin-->
    <div class="text-center ">
      <h2>Vinyl is Pural for Vinyl</h2>
      <p>Collect Buy, Sell, and Trade. Your one stop shop for everything Vinyl! If your looking for that one Record to make your collection complete, we can help. Search your local area to find that other collectors that you can buy, sell, and trade with today! </p>
    </div>
    <!--Website Description Ends-->

    <!--Album Carousel Display Begin-->
    <div mx-auto>
      <div class="albumPreview">
        <iframe src="https://open.spotify.com/embed/track/0HJQD8uqX2Bq5HVdLnd3ep" width="150" height="150" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <iframe src="https://open.spotify.com/embed/track/087AcwkqBIuIebZWpwbOI4" width="150" height="150" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <iframe src="https://open.spotify.com/embed/track/5s2TY4v3WTECwelIqqqtuS" width="150" height="150" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
    <!-- End Album Carousel Display-->
  </div>

  <!--User login Begin-->
  <div class="float container2 justify-content-center card">
    <h2>Welcome!</h2>

    <form class="form login-form">

      <div class="dataForm">
        <label for="email-login">Username</label>
        <input class="form-input" type="text" id="email-login" placeholder="Enter Email Address"/>
      </div>

      <div class="dataForm">
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-login" placeholder="Enter Password" />
      </div>

      <div class="dataForm btn-outline-success">
        <button type="submit" class="btn btn-primary login-form">Log In</button>
      </div>

      <a href="/account-creation" id="account" class="navBtn">Need an account?</a>
  </div>
  </form>
</div>
<!--User login Ends-->
</div>
<script src="./public/js/login.js"></script>
