<div class="pageContainer">
  <div class="float container2 card">
    <!--Website Description Begin-->
    <div class="text-center ">
      <h2>Website Description</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
    </div>
    <!--Website Description Ends-->

    <!--Album Carousel Display Begin-->
    <div mx-auto>
      <div class="albumPreview ">
        <img src="https://via.placeholder.com/100">
        <img src="https://via.placeholder.com/100">
        <img src="https://via.placeholder.com/100">
      </div>
    </div>
    <!-- End Album Carousel Display-->
  </div>

  <!--User login Begin-->
  <div class="float container2 justify-content-center card">
    <h2>Welcome!</h2>

    <form class="form login-form">

      <div class="dataForm">
        <label for="email-login">Username</label>
        <input class="form-input" type="text" id="email-login" placeholder="Email Address"/>
      </div>

      <div class="dataForm">
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-login" placeholder="Enter Password" />
      </div>

      <div class="dataForm btn-outline-success">
        <button type="submit" class="btn btn-primary login-form">Log In</button>
      </div>

      <a href="/account-creation" id="account" class="navBtn">Need an account?</a>
  </div>
  </form>
</div>
<!--User login Ends-->
</div>
<script src="./public/js/login.js"></script>
