<div class="container">
  <div id="createAccount" style="border: 2px solid #000000; padding: 50px; text-align: center; width: 30%; margin: 0 auto;">
    <h2>Create an Account</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label> <!--will remove-->
        <input class="form-input" type="text" id="name-signup" placeholder="Username" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label><!--will remove-->
        <input class="form-input" type="text" id="email-signup" placeholder="Email"/>
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label><!--will remove-->
        <input class="form-input" type="password" id="password-signup" placeholder="Password" />
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password:</label><!--will remove-->
        <input class="form-input" type="password" id="confirm-password" placeholder="Confirm Password" />
      </div>
      <div class="form-group">
        <button class="" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
