<a href="/user" class="go-back"> &larr; Back to User Page</a>
<div class="conatiner" style="width: 1024px; height: 800px; margin: 0 auto;">
    <div style=" float: left; width: 40%;">
   

      <form class="search-form">
        
        <div class="">
          <label for="search">Search Artist:</label><br>
          <input class="search-form" type="search" id="search-form" />
        </div>
         <button type="submit" id="search-button">Search</button>
    </form>
      

<script src="./js/search.js"></script>
