<!--Search for Record Begin-->
<div>
  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{user_name}}!</h2>
    </div>
  </div>

  <div class="row">
    <div class="">
      <input placeholder="Search for Record"></input>
      <button>Search</button>
    </div>
  </div>
</div>
<!--Search for Record End-->

<!--Create New Listing Begin-->
<div class="row">
  <div class="">
    <h3>Create New Listing:</h3>
    <form class="form">
      <div class="form-price">
        <input class="" type="text" placeholder="User Input Price" />
      </div>
      <div class="form-condition">
        <input class="" type="" id="" placeholder="User Condition"/>
      </div>
      <div class="form-year">
        <input class="" type="" id="" placeholder="User Year"/>
      </div>
      <div class="form-description">
        <textarea class="" id="" placeholder="Description"></textarea>
      </div>
      <div class="form-listing">
        <button type="submit" class="">Preview Listing</button>
      </div>
    </form>
  </div>
 </div>
 <!--Create New Listing End-->

 <!-- Posting Listing Begin-->
 <div>
  <div class="">
    <img src="">
    <div class="">
      <div class="">
        <p>Label: </p>
        <p>Catalog: </p>
        <p>Year: </p>
        <p>Condition: </p>
        <p>Item Description from Seller: </p>
        <p>Seller: </p>
        <p>Location: </p>
      </div>
      <div class="">
        <button class="" data-id="">Post Listing</button>
      </div>
    </div>
  </div>
</div>
<!-- Posting Listing End-->

<script src="./js/profile.js"></script>
