<link rel="stylesheet">
<div class="container">
    <div style="margin: 0 auto;">
    <!--Website Description Begin-->
    <div id="createAccount" style="border: 2px solid #000000; margin-right: 20px; padding: 50px; text-align: center; width: 30%; float: left; height: 420px;">
        <h2>Welcome {{{user_name}}}!</h2>
    
        <form class="form">
          <div class="form-group">
            <button > Change Username:</button> <!--will remove
            <input class="form-input" type="text" id="name-signup" placeholder="Username" />-->
          </div>
          <div class="form-group">
            <button for="email">Change Email:</button><!--will remove
            <input class="form-input" type="text" id="email-signup" placeholder="Email"/>-->
          </div>
          <div class="form-group">
            <button for="password">Change Password:</button><!--will remove
            <input class="form-input" type="password" id="password-signup" placeholder="Password" />-->
          </div>
          <div class="form-group">
            <button for="confirm-password">Confirm Password:</button><!--will remove
            <input class="form-input" type="password" id="confirm-password" placeholder="Confirm Password" />-->
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
  </div>
</div>
    <!--Website Description Ends-->

  <!--User login Begin-->
  
  <div style="width: 60%; float: left; ">
    <div style="border: 2px solid #000000; width: 50%; padding: 20px; height: 200px; ">
        {{{Buying/Favorites Saved}}}

  
<div class="container-fluid">

  <!-- buy -->
  {{#if objs}}
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Album Title</th>
              <th scope="col">Catalog</th>
              <th scope="col">Year</th>
              <th scope="col">Condition</th>
              <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody>
          {{#each objs}}
              <tr>
                  <td>{{this.title}}</td>
                  <td>{{this.Catalog}}</td>
                  <td>{{this.Year}}</td>
                  <td>{{this.Condition}}</td>
                  <td>{{this.price}}</td>
              </tr>

          {{/each}}
          </tbody>
      </table>

  {{else}}
      <div class="row">
          <div class="col-md-12">
                  <h2>
                      You have no saved buying/favorites.
                  </h2>
          </div>
      </div>
  {{/if}}
</div>

</div>
<hr style="padding: 10px 0px; border: none;">
 <div  style="border: 2px solid #000000; width: 50%; padding: 20px; height: 200px;">
     {{{Selling/Listing}}}
<!-- sell -->
<div class="container-fluid">

  {{#if objs}}
  <table class="table">
      <thead>
      <tr>
          <th scope="col">Album Title</th>
          <th scope="col">Catalog</th>
          <th scope="col">Year</th>
          <th scope="col">Condition</th>
          <th scope="col">Price</th>
      </tr>
      </thead>
      <tbody>
      {{#each objs}}
          <tr>
              <td>{{this.title}}</td>
              <td>{{this.Catalog}}</td>
              <td>{{this.Year}}</td>
              <td>{{this.Condition}}</td>
              <td>{{this.price}}</td>
          </tr>

      {{/each}}
      </tbody>
  </table>

  {{else}}
      <div class="row">
          <div class="col-md-12">
                  <h2>
                      You haven't listed any records for sale.
                  </h2>
          </div>
      </div>

  {{/if}}
</div>
  
</div>
</div>
  
  
  


<script src="./js/login.js"></script>
<script src="./js/userScript.js"></script>