<div class="pageContainer">
  <!--Website Description Begin-->
  <div class="float container2 justify-content-center card">
      <h2>Welcome {{user_name}}!</h2>
  
      <form class="form">
        <div class="dataForm">
          <button > Change Username:</button> <!--will remove
          <input class="form-input" type="text" id="name-signup" placeholder="Username" />-->
        </div>
        <div class="dataForm">
          <button for="email" >Change Email:</button><!--will remove
          <input class="form-input" type="text" id="email-signup" placeholder="Email"/>-->
        </div>
        <div class="dataForm">
          <button for="password">Change Password:</button><!--will remove
          <input class="form-input" type="password" id="password-signup" placeholder="Password" />-->
        </div>
        <div class="dataForm">
          <button for="confirm-password">Confirm Password:</button><!--will remove
          <input class="form-input" type="password" id="confirm-password" placeholder="Confirm Password" />-->
        </div>

        <div class="dataForm">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  <!--Website Description Ends-->

<!--User login Begin-->
  <div>
   <div class="container3 justify-content-center card">
       {{Buying/Favorites Saved}}
   </div>
   <div class="container3 justify-content-center card">
       {{Selling/Listing}}
   </div>
  </div>
  <!--User login Ends-->
</div>

<script src="./js/login.js"></script>